---
import { Image } from "astro:assets";
import Arrow from "./Arrow.astro";

let { product } = Astro.props;
---

<article
  data-product-name={product.name.toLowerCase()}
  data-product-category={product.category.slug}
  class="group rounded-base flex flex-col overflow-hidden bg-black/5"
>
  <a
    href={`/productos/${product.slug}`}
    class="aspect-square w-full overflow-hidden"
  >
    <Image
      src={product.category.image}
      alt={product.name}
      width={320}
      height={320}
      densities={[1, 2]}
      class="scale-image"
    />
  </a>

  <div class="flex grow flex-col gap-6 p-6">
    <div class="flex grow flex-col gap-1">
      <h3 class="text-xl font-semibold text-balance text-black">
        {product.name}
      </h3>
      <p class="text-muted">{product.category.name}</p>
    </div>
    <a
      href={`/productos/${product.slug}`}
      class="hover:text-green group/arrow flex items-end gap-2 font-medium text-black no-underline transition-colors duration-300"
    >
      Ver más info
      <div
        class="-rotate-45 transition duration-300 ease-out group-hover/arrow:translate-x-2.5 group-hover/arrow:rotate-0"
      >
        <Arrow />
      </div>
    </a>
  </div>
</article>
